{% extends "template.html" %}

{% block head %}
{% endblock %}

{% block title %}YESSSSS| Nameofthisthing{% endblock %}

{% block content %}

<section class="text-blueGray-700 ">
  <div class="container flex flex-col items-center px-5 py-16 mx-auto md:flex-row lg:px-28">
    <div class="flex flex-col items-start mb-16 text-left lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 md:mb-0">
      <h2 class="mb-8 text-xs font-semibold tracking-widest text-black uppercase title-font"> Oh no! </h2>
      <h1 class="mb-8 text-2xl font-black tracking-tighter text-black md:text-5xl title-font" >This item is <span style="font-size: 48px;
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        display: inline;
        background-image: linear-gradient(#fff 60%, #fda2a2 55%);">Not Recyclable!</span></h1>
      <p class="mb-8 text-base leading-relaxed text-left text-blueGray-600 ">{{ title }} cannot be recycled! You may want to look for some alternatives that are more eco friendly!</p>
      <div class="flex flex-col justify-center lg:flex-row">
        <a href="/" <button class="flex items-center px-6 py-2 mt-auto font-semibold text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-lg hover:bg-blue-700 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">Scan another!</button></a>
        <p class="mt-2 text-sm text-left text-blueGray-600 md:ml-6 md:mt-0">Learn more about the importance to recycling <br class="hidden lg:block">
          <a href="https://lbre.stanford.edu/pssistanford-recycling/frequently-asked-questions/frequently-asked-questions-benefits-recycling" class="inline-flex items-center font-semibold text-blue-600 md:mb-2 lg:mb-0 hover:text-black " title="read more"> Take me there » </a>
        </p>
      </div>
    </div>
    <div class="w-full lg:w-5/6 lg:max-w-lg md:w-1/2">
        <img class="object-cover object-center rounded-lg " alt="hero" src="{{ image }}">
    </div>
  </div>
</section>

{% endblock %}