{% extends "template.html" %}

{% block title %}Home| Nameofthisthing{% endblock %}

{% block content %}


  <section class="text-blueGray-700 ">
    <div class="container flex flex-col px-5 py-24 mx-auto lg:items-center">
      <div class="flex flex-col w-full mb-12 text-left lg:text-center">
        <h2 class="mb-4 text-xs font-semibold tracking-widest text-black uppercase title-font">Every single one of us can make a major difference</h2>
        <h1 class="mb-6 text-2xl font-semibold tracking-tighter text-black sm:text-5xl title-font">  Find out if the product <br class="md:hidden">you're buying is eco friendly  </h1>
        <p class="mx-auto text-base font-medium leading-relaxed text-blueGray-700 lg:w-2/3">Just upload the barcode of the product you're looking at, and we'll tell you if it's eco friendly or not! </p>
      </div>
      <div class="flex justify-left lg:justify-center ">
        <button class="flex items-center px-6 py-2 mt-auto mr-3 font-semibold text-blue-800 transition duration-500 ease-in-out transform bg-blue-100 rounded-lg hover:bg-blue-200 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">How does it work?</button>
        <button class="flex items-center px-6 py-2 mt-auto font-semibold text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-lg hover:bg-blue-700 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">Start scanning >></button>
      </div>
    </div>
  </section>


<h1>Title</h1>
<h2>Your Guide to Recycling</h2>
<h3> To upload your image click choose file </h3>
{% include "upload.html" %}
<h3> Steps to navigate through our website </h3>
<h4> Step 1: Open up your camera and scan the barcode on the product </h4>
<h4> Step 2: Upload the image using the button provided below </h4>
<h4> Step 3: Your result will now pop up on whether or not your product is recyclable </h4>
<h4> If your product is not recyclable, our website will show you recyclable alternatives to the product that your are buying </h4>
<h4> If you product is recyclable, you will be notified of that and it will also show you some recycling centers near you that will accept your item </h4>
{% endblock %}

