<!DOCTYPE html>
<html lang="en">
  <head>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap" rel="stylesheet">
  
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/fonts.css">

  
  {% block head %} {% endblock %}
  <title>{% block title %} {% endblock %}</title>
  </head>
  <body class="flex flex-col min-h-screen flex flex-col h-screen">
    <main class="flex-grow">
     {% block content %} {% endblock %}
    </main>
  </body>
  {% include "footer.html" %}
</html>